*{
    margin: 0px;
    padding: 0px;
    
}

.img-pokemon-type{
    
    width: 30px;
}
.card-pokemon-container{
    background: linear-gradient(49deg, #ffc40c,#dfff00);
    width: 175px;
    height: 238px;
    border: 3px solid black;
    margin: 10%;
    border-radius: 10px;
}

.background{
    text-align: center;
    background: linear-gradient(to right,#CCCC00,#FFC514,#999900);
}
.image{
    width: 100px;
    height: 100px;
}
.name{
    text-align: center;
    font-size: 16px;
    font-weight:bolder;
    padding: 3px;
    margin-left: 25px;
    text-transform: capitalize;
}
.type{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.pokemon-stats{
    display:flex;
    font-size: 11px;
    text-align: center;
    flex-direction: column;
    text-transform: capitalize;
}
.pokemon-stats-text{
    border: 1px solid black;
}